body {
    margin: auto;
    width: 50%;
    font-family: sans-serif;
    background-color: whitesmoke;
}
h1{
   text-align: center; 
}
form{
    text-align: end;
    
}
input{
    border-radius: 2px;
    padding: 5px;
}

p {
    font-size: 20px;
    padding: 2px;
    
}

.create-post {
    background-color: white;
    margin: auto;
    padding: 10px;
    display: block;
    font-weight: 100;
}

footer {
    height: 100px;
    background-color: #000000;
    display: flex;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
}